# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Logs
logs/
*.log
logs/*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Database configuration and migrations
src/config/db.js
migrations/
*.sqlite
*.db

# Local environment files
.env
.env.local
.env.*.local

# DBeaver or IDE specific files
.dbeaver-data-sources/
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Miscellaneous
*.pid
*.seed
*.pid.lock
*.log
*.out

# Winston log files
logs/error.log
logs/combined.log
logs/production.log

# Optional npm cache directory
.npm/

# Build directory
dist/
build/

# Coverage reports
coverage/
.nyc_output/

# Mac specific files
.DS_Store

# Optional: Ignora archivos temporales y de respaldo
*.swp
*~